
body {
    font-family: Roboto, 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .block-1, .footer {
background-color: #1F2937;
}

.header {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

a, p, button {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

button {
    background-color: #3882F6;
}

img {
    width: 45%;
    font-size: 18px;
    font-weight: 100;
}

.block-1 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.block-2 {
   font-size: 36px;
   color: #1F2937;
   font-weight: 900;

   display: flex;
   flex-direction: column;
}

.block-2blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 18px;
    font-weight: 100;
}

.info {
    max-width: 200px;
}

.block-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.citation {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.citation-credit {
    display: flex;
    justify-content: flex-end;
}

.block-4 {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2 {
    margin: 0;
    color: #E5E7EB;
}

.footer {
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}