
body {
    font-family: Roboto, 'Open Sans', sans-serif;
    /* display: flex;
    flex-direction: column; */
    padding: 0;
    margin: 0;
}

.header, .block-1, .footer {
background-color: #1F2937;
}

.header {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

a, p, button {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

button {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    font-weight: 900;
    border-radius: 8px;
}


.block-1 img {
    width: 45%;
    font-size: 18px;
    font-weight: 100;
}

.block-1 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 75px;
    gap: 25px;
}

.block-2 {
   font-size: 36px;
   color: #1F2937;
   font-weight: 900;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px;
}

.block-2blocks {
    display: flex;
    /* flex-direction: row; */
    /* flex: 1; */
    gap: 52px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.text {
    font-size: 18px;
    font-weight: 100;
}

.info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    font-size: 18px;
    font-weight: 100;
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.block-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.citation {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.citation-credit {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    font-weight: 900;
    font-size: 18px;
}

.block-4 {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
}

.block-4 .sign-up {
    border: 1px solid #E5E7EB;
}

h2 {
    margin: 0;
    color: #E5E7EB;
}

.footer {
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}